footer.footer
    p
        |All other trademarks and copyrights 
        |are the property of their #[br] respective 
        |owners. Use of these names, trademarks 
        |and brands#[br] does not imply endorsement.