header(class="header")
    a(href="#")
      img.main__logo(src="../img/logo.png" alt="logo")
    nav(class="header__nav")
          a.link__nav(href="#theProblem") the problem
          a.link__nav(href="#ppc") PiedPiedCoin
          a.link__nav(href="#team") the team
