header(class="header")
    a.main__logo(href="#")
      img(src="../img/logo.png" alt="logo")
    nav(class="header__nav")
        ul.links__nav
          li: a.link__nav(href="#theProblem") the problem
          li: a.link__nav(href="#ppc") PiedPiedCoin
          li: a.link__nav(href="#team") the team
