header(class="header")
    a.main__logo(href="#")
      img(src="../img/logo.png")
    nav(class="header__nav")
        ul.links__nav
        li: a.link__nav(href="#") the problem
        li: a.link__nav(href="#") PiedPiedCoin
        li: a.link__nav(href="#") the team
