@media (max-width: 644px) {
    .header{
        justify-content: flex-start;
        flex-direction: column;
        .header__nav{
                flex-direction: column;
                .link__nav{
                    margin-top: 20px;
                }
                .link__nav::before{
                    content: "|";
                    margin: 0 5px;
                }
            }
        }
}