@media (max-width: 644px) {
    .header{
        position: static;
        justify-content: center;
        flex-direction: column;
        .header__nav{
                flex-direction: column;
                .link__nav{
                    margin-top: 20px;
                }
                .link__nav::before{
                    content: "|";
                    margin: 0 5px;
                }
            }
        }

        .main__heading{
            padding-top: 0;
            h1{
                color: white;
                font-size: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 0;
            }

        }
        .main__article{
            .article__heading{
                font-size: 50px;
            }
            .article__text{
                font-size: 25px;
            }
        }

        .block__hero{
            .block__hero__heding{
                font-size: 35px;
                margin: 0 80px;
                line-height: 40px;
            }
        }

        .block__ppc{
            .header__ppc{
                font-size: 50px;
            }
            .ppc__text{
                font-size: 20px;              
            }
        }
        
        .team__block{
            .header__team{
                font-size: 50px;
                padding-top: 60px;
            }
            .block_card{
                margin: 50px 55px 0;
                .card{
                    padding: 24px 91px 61px;
                }
            }

        }
}

@media (max-width: 480px){
    .main__heading{
        h1{
            color: white;
            font-size: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .main__article{
        .article__heading{
            font-size: 40px;
        }
        .article__text{
            font-size: 16px;
        }
    }
    .block__hero{
        .block__hero__heding{
            font-size: 40px;
        }
    }
    .block__ppc{
        .header__ppc{
            font-size: 25px;
        }
        .text_with_logo{
            .logo_ppc{
                max-width: 100px;
                max-height: 100px;
            }
            .ppc__text{
                font-size: 16px;
                margin-left: 20px;   
            }
        }
        .ppc__text{
            font-size: 16px;
            margin-left: 55px;   
        }
    }
    .team__block{
        .header__team{
            font-size: 40px;
            padding-top: 60px;
        }
    }  
}

@media (max-width:400px) {
    .main__heading{
        h1{
            color: white;
            font-size: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .main__article{
        .article__heading{
            font-size: 40px;
        }
        .article__text{
            font-size: 20px;
        }
    }

    .block__hero{
        .block__hero__heding{
            font-size: 25px;
        }
    }
}