@import "fonts";
@import "null";

$main_color: #007765;
$heading_fonts: "Roboto Medium";
$about_team: "Roboto Italic";
$name_team: "Roboto Bold";
$fonts_text: "Roboto Regular";
$fonts_hero: "Roboto Medium Italic";


h2, h1{
    font-family: $heading_fonts;
    color:  #007765;
    box-sizing: border-box;
}

.header{
    background-color: $main_color;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 20px 19px;
    align-items: center;
    position: fixed;
    width: 100%;
    .main__logo{
        width: 100%;
        height: auto;
    }
    .header__nav{
        display: flex;      
        .link__nav{
            color: white;
            font-size: 24px;
            font-family: $heading_fonts;            
        }
        .link__nav:hover{
            color: #ffffff79;
        }
        .link__nav:not(:first-child)::before{
            content: "|";
            margin: 0 5px;
        }
    }  
}


.main__heading{
    padding-top: 80px;
    background-image: url(../img/heading_background.png);
    background-size: cover;
    min-height: 403px;
    h1{
        color: white;
        font-size: 72px;
        display: flex;
        justify-content: center;
        padding-top: 150px;
    }

}

.main__article{
    background-color: #EEEEEE;
    padding-bottom: 80px;
    .article__heading{
        padding-top: 48px;
        font-size: 64px;
        text-align: center;
        padding-bottom: 33px;
    }
    .article__text{
        font-size: 32px;
        font-family: $fonts_text;     
        padding: 0 55px 53px;
    }
}

.block__hero{
    background: url(../img/hero_backround.png);
    background-size: cover;
    min-height: 483px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    .block__hero__heding{
        margin: 0 20%;
        font-family: $fonts_hero;
        color: white;
        font-size: 40px;
        line-height: 60px;
    }

}

.block__ppc{
    padding-bottom: 92px;
    .header__ppc{
        font-size: 64px;
        text-align: center;
        padding: 48px 15px 0;
    }
    .text_with_logo{
        display: flex;
        .logo_ppc{
            margin-left: 55px;
            margin-top: 28px;
            max-width: 115px;
            max-height: 115px;
        }
    }
    .ppc__text{
        font-size: 32px;
        font-family: $fonts_text;
        margin-top: 20px;
        margin-right: 55px;
        margin-left: 55px;
        
    }
}
.team__block{
    background: #EEEEEE;
    text-align: center;
    .header__team{
        text-align: center;
        font-size: 64px;
        padding-top: 100px;
    }
    .block_card{
        display: flex;
        flex-wrap: wrap;
        margin: 68px 55px 0;
        justify-content: center;
        .card{
            padding: 24px 91px 91px;
            .card__imd{
                width: 100%;
                height: auto;
            }
            .name__team{
                color: $main_color;
                font-family: $name_team;
                margin-top: 12px;
                font-size: 24px;
            }
            .about__team{
                font-family: $about_team;
                font-size: 18px;
                margin-top: 5px;
            }
        }
    }
}

.footer{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background:#333333;
    color: white;
    padding: 48px 0 64px;
    font-family: $fonts_text;
    font-size: 18px;
    line-height: 25px;
}


@import "mediascreen"