@import "fonts";
@import "null";

$main_color: #007765;
$heading_fonts: "Roboto Medium";
$about_team: "Roboto Italic";
$name_team: "Roboto Bold";
$fonts_text: "Roboto Regular";

h2, h1{
    font-family: $heading_fonts;
    color:  #007765;
}

.header{
    background-color: $main_color;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 20px 19px;
    align-items: center;
    .main__logo{
        width: 100%;
        height: auto;
    }
    .header__nav{
        display: flex;      
        .link__nav{
            color: white;
            font-size: 24px;
            font-family: $heading_fonts;            
        }
        .link__nav:hover{
            color: #ffffff79;
        }
        .link__nav:not(:first-child)::before{
            content: "|";
            margin: 0 5px;
        }
    }  
}

.main__heading{
    background-image: url(../img/heading_background.png);
    width: 100%;
    height: auto;
    min-height: 403px;
    color: white;
    font-size: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__article{
    background-color: #EEEEEE;
    padding-bottom: 80px;
    .article__heading{
        padding-top: 48px;
        font-size: 64px;
        text-align: center;
        padding-bottom: 33px;
    }
    .article__text{
        font-size: 32px;
        font-family: $fonts_text;     
        padding: 0 55px 53px;
    }
}

@import "mediascreen"